<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>
    {% block title  %} 
        Base title
    {% endblock %}
 </title>
 <nav>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url "test_auth:logout" %}"> Выйти из системы </a>
        {% else %}
        <a href="{% url "test_auth:login" %}"> Войти в системы </a>
        {% endif %}
    </div>
</nav>
</head>
<body>
    {% block body  %} 
        Base body
        
    {% endblock %}
   
    <text> Hello word! </text>
    <div>
        Time runing: {{ time_runing }} 
    </div>
    
</body>
</html>