{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
 {% translate "Products list" %}
{% endblock title %}

{% block body %}
<h1> {% translate "Products:" %}</h1>
    <div>
        <ul>
            {% for product in products %}
                {% blocktranslate count product_count=10 %}
                There is only one product
                {% plural %}
                There are {{product_count}} products
                {% endblocktranslate %}
                <li>
                    <p>{% translate "Naming" %}: {{product.name}}</p>
                    <p><a href="{% url 'shopapp:products_ditails' pk=product.pk %}">
                        {% translate "Name" context 'product name' %}: {{ product.name }}</a> </p>
                    <p>{% translate "Price" %}: {{product.price}}</p>

                    {% translate "no discount" as no_discount %}

                    <p>{% translate "Discount" %}: {% firstof product.discount no_discount %} </p>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if perms.shopapp.add_product %}
        <div>
            <a href="{% url "shopapp:products_create" %}"> {% translate "Создать товар" %}</a>
        </div>
    {% endif %}
{% endblock body %}

