{% extends "shopapp/base.html" %}
{% load i18n %}
{% block title %}
    Товар №{{product.pk}}
{% endblock title %}

{% block body %}
{% blocktranslate with discription=product.discription price=product.price name=product.name discount=product.discount archived=product.archived%}
    <h1> Товар {{name}}</h1>
    <div>
        <div> Описание: <em> {{discription}} </em></div>
        <div> Цена: {{ price}} </div>
        <div> Скидка: {{discount}} </div>
        <div> Архивированно: {{ archived }} </div>
    </div>
{% endblocktranslate %}
    {% if user.is_superuser or product.author == user %}

        <div>
            <a href="{% url "shopapp:products_list" %}"> {% translate "Back to the products" %}</a>
        </div>

        <div>
            <a href="{% url "shopapp:products_update" pk=product.pk %}"> {% translate "Change product" %}</a>
        </div>

        <div>
            <a href="{% url "shopapp:products_delete" pk=product.pk %}"> {% translate "Delete product" %}</a>
        </div>

    {% endif %}
{% endblock body %}