{% extends 'market/base.html' %}
{% block title %}
 Товары
{% endblock title %}

{% block body %}
<h1> Товары:</h1>
    <div>
        <ul>
            {% for object in object_list %}
                <li>
                    <p>Название: {{product.name}}</p>
                    <p><a href="{% url 'market:product_ditails' pk=object.pk %}">Название: {{ object.product.name }}</a> </p>
                    <p>Цена: {{object.price}}</p>
                    <p>Магазин: {{object.shop}}</p>
                    <p>В наличии: {{object.quantity}} штук </p>
                    <p>.........................................</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}

